{% include 'core/sidebar_style.html' %}

<div class="sidebar">
    

    <nav class="nav flex-column">
        <a href="{% url 'dashboard_hopital' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard_hopital' %}active{% endif %}">
            <i class="fas fa-chart-line"></i> Tableau de bord
        </a>
        <a href="{% url 'historique_demandes' %}" class="nav-link {% if request.resolver_match.url_name == 'historique_demandes' %}active{% endif %}">
            <i class="fas fa-list-ul"></i> Mes Demandes
        </a>
        <a href="{% url 'ajouter_demande' %}" class="nav-link {% if request.resolver_match.url_name == 'ajouter_demande' %}active{% endif %}">
            <i class="fas fa-plus-circle"></i> Nouvelle Urgence
        </a>
        <a href="{% url 'creer_campagne' %}" class="nav-link {% if request.resolver_match.url_name == 'creer_campagne' %}active{% endif %}">
            <i class="fas fa-bullhorn"></i> Créer Campagne
        </a>
        <a href="{% url 'mes_campagnes' %}" class="nav-link {% if request.resolver_match.url_name == 'mes_campagnes' %}active{% endif %}">
            <i class="fas fa-calendar-alt"></i> Mes Campagnes
        </a>
        <a href="{% url 'profile_update' %}" class="nav-link {% if request.resolver_match.url_name == 'profile_update' %}active{% endif %}">
            <i class="fas fa-building"></i> Infos Hôpital
        </a>
        <hr>
        <a href="{% url 'logout' %}" class="nav-link text-white-50">
            <i class="fas fa-power-off"></i> Déconnexion
        </a>
    </nav>
</div>