{% extends 'base_hopital.html' %}
{% load django_bootstrap5 %}

{% block title %}Gérer Campagne{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-custom">
            <h4 class="fw-bold mb-4">Informations de la Campagne</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-danger py-2 fw-bold">Publier la campagne</button>
                    <a href="{% url 'dashboard_hopital' %}" class="btn btn-outline-secondary">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
