 {% load static %}
 <header class="header">
        <nav class="container d-flex align-items-center justify-content-between">
            <div class="logo d-flex align-items-center gap-2">
                <img src="{% static 'images/BloodConnect.png' %}" alt="Logo" width="240" height="70">
            </div>
            
            <div class="d-none d-lg-flex align-items-center">
                <a href="{% url 'accueil' %}" class="nav-link">Accueil</a>
                {% if user.is_authenticated %}
                    {% if user.role == 'donneur' %}
                        <a href="{% url 'dashboard_donneur' %}" class="nav-link">Mon Portail Donneur</a>
                    {% elif user.role == 'hopital' %}
                        <a href="{% url 'dashboard_hopital' %}" class="nav-link">Portail Hospitalier</a>
                    {% elif user.role == 'admin' %}
                        <a href="{% url 'admin_dashboard' %}" class="nav-link">Tableau de Bord Admin</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'about' %}" class="nav-link">À Propos</a>
            </div>

            <div class="d-flex gap-3">
                {% if user.is_authenticated %}
                    <span class="navbar-text me-2 small fw-bold">Bonjour, {{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Déconnexion</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary-red">Connexion</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-dark">Inscription</a>
                {% endif %}
            </div>
        </nav>
    </header>